{{page-title "RecipesPage"}}
<div class="recipe_list_container">
     <h2 class="recipe_page_title">Recipes</h2>
    <div class="back_arrow">
        <div class="back_page"><a href="../recipesapp"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></div>
    </div>
    <RecipesContainer @data={{this.model}}>
        
       </RecipesContainer>
</div>
{{outlet}}